--extra-index-url https://download.pytorch.org/whl/cu118

numpy==1.26.4
fastapi<0.113.0
opencv-python-headless==4.9.0.80
onnx==1.16.0
insightface==0.7.3
albucore==0.0.16
psutil==5.9.6
torch==2.5.1+cu118; sys_platform != 'darwin'
torch==2.5.1; sys_platform == 'darwin'
torchvision==0.20.1+cu118; sys_platform != 'darwin'
torchvision==0.20.1; sys_platform == 'darwin'
onnxruntime==1.22.0; sys_platform == 'darwin' and platform_machine != 'arm64'
onnxruntime-silicon==1.16.3; sys_platform == 'darwin' and platform_machine == 'arm64'
onnxruntime-gpu==1.22.0; sys_platform != 'darwin'
tqdm==4.66.4
ftfy
regex
pyvirtualcam
gradio==5.31.0
pydantic==2.11.5
websockets>=13.1,<15.1.0
