--extra-index-url https://download.pytorch.org/whl/cu118

# Core
numpy==2.2.6
psutil==7.0.1
tqdm==4.67.1
regex
ftfy==6.3.1

# FastAPI backend
fastapi==0.115.12

# UI
gradio==5.29.1
pyvirtualcam

# Image & Video Processing
opencv-python-headless==4.11.0.86
albucore==0.0.24

# ONNX and runtime (platform-specific)
onnx==1.18.0
onnxruntime==1.22.0; sys_platform == 'darwin' and platform_machine != 'arm64'
onnxruntime-silicon==1.16.3; sys_platform == 'darwin' and platform_machine == 'arm64'
onnxruntime-gpu==1.22.0; sys_platform != 'darwin'

# Face analysis
insightface==0.7.3

# PyTorch (platform-specific)
torch==2.7.0+cu118; sys_platform != 'darwin'
torch==2.7.0; sys_platform == 'darwin'

# TorchVision (platform-specific)
torchvision==0.22.0+cu118; sys_platform != 'darwin'
torchvision==0.22.0; sys_platform == 'darwin'
